In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.read_csv("C:/Users/nafee/Downloads/amazon_dataset.csv")

In [3]:
df.all()

Order_ID                True
Customer_Name           True
Product_Name            True
Category                True
Price                   True
Discount(%)            False
Quantity                True
Order_Date              True
Region                  True
Payment_Method          True
Shipping_Status         True
Delivery_Date           True
Return_Requested        True
Rating                  True
Review_Text             True
Warehouse_ID            True
Shipping_Cost           True
Currency                True
Delivery_Delay_Days     True
Customer_Email          True
dtype: bool

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20500 entries, 0 to 20499
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Order_ID             20500 non-null  object
 1   Customer_Name        18233 non-null  object
 2   Product_Name         17982 non-null  object
 3   Category             20500 non-null  object
 4   Price                20007 non-null  object
 5   Discount(%)          14606 non-null  float64
 6   Quantity             17958 non-null  object
 7   Order_Date           20500 non-null  object
 8   Region               17926 non-null  object
 9   Payment_Method       20500 non-null  object
 10  Shipping_Status      20500 non-null  object
 11  Delivery_Date        20500 non-null  object
 12  Return_Requested     13757 non-null  object
 13  Rating               17907 non-null  object
 14  Review_Text          14565 non-null  object
 15  Warehouse_ID         16450 non-null  object
 16  Shipping_Cost        17917 non-null  object
 17  Currency             12254 non-null  object
 18  Delivery_Delay_Days  20500 non-null  object
 19  Customer_Email       13674 non-null  object
dtypes: float64(1), object(19)
memory usage: 3.1+ MB

In [5]:
df.columns

Index(['Order_ID', 'Customer_Name', 'Product_Name', 'Category', 'Price',
       'Discount(%)', 'Quantity', 'Order_Date', 'Region', 'Payment_Method',
       'Shipping_Status', 'Delivery_Date', 'Return_Requested', 'Rating',
       'Review_Text', 'Warehouse_ID', 'Shipping_Cost', 'Currency',
       'Delivery_Delay_Days', 'Customer_Email'],
      dtype='object')

In [6]:
df.describe(include = 'all')

,Order_ID,Customer_Name,Product_Name,Category,Price,Discount(%),Quantity,Order_Date,Region,Payment_Method,Shipping_Status,Delivery_Date,Return_Requested,Rating,Review_Text,Warehouse_ID,Shipping_Cost,Currency,Delivery_Delay_Days,Customer_Email
count,20500,18233,17982,20500,20007,14606.000000,17958,20500,17926,20500,20500,20500,13757,17907,14565,16450,17917,12254,20500,13674
unique,20000,8,7,8,18720,NaN,7,2998,7,4,4,3000,2,7,5,4,7,3,7,4
top,ORD7384,Priya,Nike Shoes,Books,free,NaN,3,05-20-2022,Ras Al Khaimah,PayPal,Delivered,2023/12/15,No,2,Excellent!,wh-04,15,USD,unknown,fatima@
freq,2,2308,2594,2625,263,NaN,2642,18,2620,5207,5165,17,6884,2623,2956,4137,2642,4170,3004,3434
mean,NaN,NaN,NaN,NaN,NaN,16.859167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,17.642634,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,10.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,50.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df.isnull().sum()

Order_ID                  0
Customer_Name          2267
Product_Name           2518
Category                  0
Price                   493
Discount(%)            5894
Quantity               2542
Order_Date                0
Region                 2574
Payment_Method            0
Shipping_Status           0
Delivery_Date             0
Return_Requested       6743
Rating                 2593
Review_Text            5935
Warehouse_ID           4050
Shipping_Cost          2583
Currency               8246
Delivery_Delay_Days       0
Customer_Email         6826
dtype: int64

In [8]:
df.isna().sum()

Order_ID                  0
Customer_Name          2267
Product_Name           2518
Category                  0
Price                   493
Discount(%)            5894
Quantity               2542
Order_Date                0
Region                 2574
Payment_Method            0
Shipping_Status           0
Delivery_Date             0
Return_Requested       6743
Rating                 2593
Review_Text            5935
Warehouse_ID           4050
Shipping_Cost          2583
Currency               8246
Delivery_Delay_Days       0
Customer_Email         6826
dtype: int64

In [9]:
df.replace(r'^\s*$',np.nan, regex =True, inplace =True)

In [10]:
df.columns = df.columns.str.lower()

In [11]:
#filled null values with unknown, anonymous

df['region']=df['region'].fillna('unknown')
df['customer_name']= df['customer_name'].fillna('anonymous')

In [12]:
df[['region','customer_name']].head(100)

       region customer_name
0      Al Ain           Ali
1      Al Ain          Sara
2     Sharjah           Ali
3   Abu Dhabi          Sara
4       Dubai          Sara
..        ...           ...
95      Ajman         Zhang
96   Fujairah          Sara
97    Sharjah          John
98   Fujairah          John
99    unknown        Fatima

[100 rows x 2 columns]

In [13]:
#dropped order_ids with no datas in it

df.dropna(subset=['order_id'], inplace=True)

In [14]:
df.columns

Index(['order_id', 'customer_name', 'product_name', 'category', 'price',
       'discount(%)', 'quantity', 'order_date', 'region', 'payment_method',
       'shipping_status', 'delivery_date', 'return_requested', 'rating',
       'review_text', 'warehouse_id', 'shipping_cost', 'currency',
       'delivery_delay_days', 'customer_email'],
      dtype='object')

In [15]:
numeric_cols = ['price', 'discount(%)', 'quantity','rating', 'delivery_delay_days']
for col in numeric_cols:
    df[col]=pd.to_numeric(df[col], errors = 'coerce')

In [16]:
df.describe()

,price,discount(%),quantity,rating,delivery_delay_days
count,19515.000000,14606.000000,15348.000000,15362.000000,17496.000000
mean,2492.408197,16.859167,11.798410,3.495573,2.834076
std,1450.022443,17.642634,17.252679,1.711999,3.729181
min,5.310000,0.000000,1.000000,1.000000,-1.000000
25%,1238.570000,5.000000,2.000000,2.000000,0.000000
50%,2479.980000,10.000000,5.000000,4.000000,2.000000
75%,3748.930000,20.000000,10.000000,5.000000,5.000000
max,4999.870000,50.000000,50.000000,6.000000,10.000000

In [17]:
df.isnull().sum().sum()

np.int64(57074)

In [18]:
#changed dates formats and checked order date and delivery date 

df['order_date']=pd.to_datetime(df['order_date'], errors  = 'coerce')
df['delivery_date']=pd.to_datetime(df['delivery_date'], errors  = 'coerce')
mask  = df['order_date'] > df['delivery_date']

C:\Users\nafee\AppData\Local\Temp\ipykernel_4660\1688087954.py:4: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['delivery_date']=pd.to_datetime(df['delivery_date'], errors  = 'coerce')

In [19]:
df.loc[mask,'order_date'] = df['delivery_date']

In [20]:
mask.sum()

np.int64(1142)

In [21]:
#checked whether delivery date > order date

mask  = df['order_date'] > df['delivery_date']
mask.sum()

np.int64(0)

In [22]:
mask.sum()

np.int64(0)

In [23]:
df.drop_duplicates(inplace = True)

In [24]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
19995    False
19996    False
19997    False
19998    False
19999    False
Length: 20000, dtype: bool

In [25]:
df.columns

Index(['order_id', 'customer_name', 'product_name', 'category', 'price',
       'discount(%)', 'quantity', 'order_date', 'region', 'payment_method',
       'shipping_status', 'delivery_date', 'return_requested', 'rating',
       'review_text', 'warehouse_id', 'shipping_cost', 'currency',
       'delivery_delay_days', 'customer_email'],
      dtype='object')

In [26]:
# removed spaces and used title function

text_columns = ['region','category', 'payment_method','product_name']
for cols in text_columns:
    df[cols]= df[cols].str.strip().str.title()

In [27]:
df['review_text'] =df['review_text'].str.strip()
df['customer_name'] =df['customer_name'].str.strip()

In [28]:
df['customer_name']

0           Ali
1          Sara
2           Ali
3          Sara
4          Sara
          ...
19995      John
19996    Fatima
19997       Léa
19998       Ali
19999     Priya
Name: customer_name, Length: 20000, dtype: object

In [29]:
# removing str from price and converting it into float

df['price']=df['price'].astype(str).str.replace(r'[^\d\.]','',regex = True)
df['price']=pd.to_numeric(df['price'], errors = 'coerce')

In [30]:
df

,order_id,customer_name,product_name,category,price,discount(%),quantity,order_date,region,payment_method,shipping_status,delivery_date,return_requested,rating,review_text,warehouse_id,shipping_cost,currency,delivery_delay_days,customer_email
0,ORD1000,Ali,Perfume,Books,2006.42,20.0,50.0,2022-01-28,Al Ain,Crypto,Cancelled,2024-01-19,NaN,1.0,Excellent!,NaN,25,USD,1.0,ali@example.com
1,ORD1001,Sara,Teddy Bear,Toys,4670.09,NaN,50.0,NaT,Al Ain,Cash On Delivery,Delivered,NaT,NaN,3.0,Good,WH1,15,AED,0.0,ali@example.com
2,ORD1002,Ali,Car Vacuum,Books,4343.70,50.0,1.0,NaT,Sharjah,Crypto,Delivered,NaT,Yes,3.0,NaN,WH1,5,USD,0.0,priya@abc.com
3,ORD1003,Sara,Car Vacuum,Automotive,3098.42,10.0,50.0,2022-08-24,Abu Dhabi,Crypto,Cancelled,NaT,No,6.0,ok,wh-04,free,AED,0.0,john@gmail
4,ORD1004,Sara,Samsung Galaxy,Clothing,614.83,50.0,3.0,2023-10-21,Dubai,Cash On Delivery,Delivered,NaT,NaN,NaN,Excellent!,wh-04,15,EUR,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,ORD20995,John,Samsung Galaxy,Automotive,4230.59,5.0,5.0,2022-02-23,Abu Dhabi,Cash On Delivery,Returned,2022-02-23,No,NaN,NaN,WH2,0,USD,NaN,NaN
19996,ORD20996,Fatima,Car Vacuum,Beauty,2605.51,NaN,5.0,NaT,Sharjah,Cash On Delivery,Delivered,NaT,No,4.0,NaN,WH2,5,USD,0.0,NaN
19997,ORD20997,Léa,Iphone 14,Automotive,3918.53,50.0,2.0,NaT,Fujairah,Crypto,Delivered,NaT,Yes,4.0,NaN,WH2,AED 20,NaN,0.0,priya@abc.com
19998,ORD20998,Ali,Car Vacuum,Books,4848.63,NaN,NaN,2023-05-11,Unknown,Credit Card,Delivered,NaT,Yes,3.0,Excellent!,WH3,25,NaN,NaN,priya@abc.com
19999,ORD20999,Priya,Teddy Bear,Toys,2845.88,20.0,10.0,NaT,Fujairah,Credit Card,Delivered,NaT,NaN,5.0,NaN,WH1,25,EUR,10.0,NaN

In [31]:
# clean email format
df['customer_email']=df['customer_email'].apply(lambda x : x if isinstance(x,str) and '@' in x and '.' in x else np.nan)

In [32]:
df.isnull().sum()

order_id                   0
customer_name              0
product_name            2462
category                   0
price                    957
discount(%)             5748
quantity                5042
order_date             13331
region                     0
payment_method             0
shipping_status            0
delivery_date          13248
return_requested        6582
rating                  5014
review_text             5778
warehouse_id            3969
shipping_cost           2509
currency                8048
delivery_delay_days     2918
customer_email         13348
dtype: int64

In [33]:
df['product_name'].fillna('unnamed product', inplace= True)

C:\Users\nafee\AppData\Local\Temp\ipykernel_4660\1219508922.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['product_name'].fillna('unnamed product', inplace= True)

In [34]:
df['review_text'].fillna('No Review', inplace=True)
df['warehouse_id'].fillna('Unknown', inplace=True)
df['currency'].fillna('AED', inplace=True)
df['delivery_delay_days'].fillna(0, inplace=True)
df['customer_email'].fillna('unknown@email.com', inplace=True)

C:\Users\nafee\AppData\Local\Temp\ipykernel_4660\3389826271.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['review_text'].fillna('No Review', inplace=True)
C:\Users\nafee\AppData\Local\Temp\ipykernel_4660\3389826271.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['warehouse_id'].fillna('Unknown', inplace=True)
C:\Users\nafee\AppData\Local\Temp\ipykernel_4660\3389826271.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['currency'].fillna('AED', inplace=True)
C:\Users\nafee\AppData\Local\Temp\ipykernel_4660\3389826271.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['delivery_delay_days'].fillna(0, inplace=True)
C:\Users\nafee\AppData\Local\Temp\ipykernel_4660\3389826271.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['customer_email'].fillna('unknown@email.com', inplace=True)

In [84]:
df.fillna({'price': df['price'].median(),
           'quantity': df['quantity'].median(),
           'discount(%)': df['discount(%)'].median(),
          'rating' : df['rating'].median()},
          inplace=True)

In [85]:
df['order_date'].fillna(pd.Timestamp('2023-01-01'), inplace=True)
df['delivery_date'].fillna(df['order_date'], inplace=True)

C:\Users\nafee\AppData\Local\Temp\ipykernel_4660\3546491936.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['order_date'].fillna(pd.Timestamp('2023-01-01'), inplace=True)
C:\Users\nafee\AppData\Local\Temp\ipykernel_4660\3546491936.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['delivery_date'].fillna(df['order_date'], inplace=True)

In [86]:
df['return_requested'].fillna('no', inplace= True)

C:\Users\nafee\AppData\Local\Temp\ipykernel_4660\2130800888.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['return_requested'].fillna('no', inplace= True)

In [87]:
numeric_cols = ['price', 'quantity', 'discount(%)', 'rating', 'delivery_delay_days']
for col in numeric_cols:
    cap = df[col].quantile(0.99)

    df[col] = np.where(df[col] > cap, cap, df[col])

In [88]:
df['shipping_cost']=pd.to_numeric(df['shipping_cost'], errors = 'coerce')

In [89]:
df['shipping_cost'].fillna(df['shipping_cost'].median(), inplace=True)

C:\Users\nafee\AppData\Local\Temp\ipykernel_4660\1679361830.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['shipping_cost'].fillna(df['shipping_cost'].median(), inplace=True)

In [90]:
df.describe()

,price,discount(%),quantity,order_date,delivery_date,rating,shipping_cost,delivery_delay_days,total_price
count,20000.000000,20000.000000,20000.000000,20000,20000,20000.000000,20000.00000,20000.00000,20000.000000
mean,2490.944802,14.885000,10.079650,2023-01-26 12:16:24.959999744,2023-03-16 16:59:31.199999744,3.620900,10.65000,2.41695,25307.582406
min,5.310000,0.000000,1.000000,2022-01-01 00:00:00,2022-01-01 00:00:00,1.000000,0.00000,-1.00000,6.220000
25%,1298.262500,5.000000,3.000000,2023-01-01 00:00:00,2023-01-01 00:00:00,2.000000,10.00000,0.00000,4002.210000
50%,2479.980000,10.000000,5.000000,2023-01-01 00:00:00,2023-01-01 00:00:00,4.000000,10.00000,1.00000,9737.985000
75%,3687.177500,20.000000,5.000000,2023-01-01 00:00:00,2023-07-04 00:00:00,4.000000,15.00000,5.00000,20772.512500
max,4948.900000,50.000000,50.000000,2024-09-27 00:00:00,2024-09-27 00:00:00,6.000000,25.00000,10.00000,247445.000500
std,1415.040851,15.208496,15.206304,NaN,NaN,1.496327,6.76312,3.58524,46441.383187

In [91]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20000 entries, 0 to 19999
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   order_id             20000 non-null  object
 1   customer_name        20000 non-null  object
 2   product_name         20000 non-null  object
 3   category             20000 non-null  object
 4   price                20000 non-null  float64
 5   discount(%)          20000 non-null  float64
 6   quantity             20000 non-null  float64
 7   order_date           20000 non-null  datetime64[ns]
 8   region               20000 non-null  object
 9   payment_method       20000 non-null  object
 10  shipping_status      20000 non-null  object
 11  delivery_date        20000 non-null  datetime64[ns]
 12  return_requested     20000 non-null  object
 13  rating               20000 non-null  float64
 14  review_text          20000 non-null  object
 15  warehouse_id         20000 non-null  object
 16  shipping_cost        20000 non-null  float64
 17  currency             20000 non-null  object
 18  delivery_delay_days  20000 non-null  float64
 19  customer_email       20000 non-null  object
 20  total_price          20000 non-null  float64
 21  is_delayed           20000 non-null  object
dtypes: datetime64[ns](2), float64(7), object(13)
memory usage: 3.5+ MB

In [49]:
df['total_price'] = df['price'] * df['quantity']

In [50]:
df['is_delayed'] = np.where(df['delivery_delay_days'] > 0, 'Yes', 'No')

In [51]:
df.columns

Index(['order_id', 'customer_name', 'product_name', 'category', 'price',
       'discount(%)', 'quantity', 'order_date', 'region', 'payment_method',
       'shipping_status', 'delivery_date', 'return_requested', 'rating',
       'review_text', 'warehouse_id', 'shipping_cost', 'currency',
       'delivery_delay_days', 'customer_email', 'total_price', 'is_delayed'],
      dtype='object')

In [83]:
print(df.isna().sum())
print(df.dtypes)
print(df.describe())

order_id                  0
customer_name             0
product_name              0
category                  0
price                     0
discount(%)               0
quantity                  0
order_date                0
region                    0
payment_method            0
shipping_status           0
delivery_date             0
return_requested          0
rating                 5014
review_text               0
warehouse_id              0
shipping_cost             0
currency                  0
delivery_delay_days       0
customer_email            0
total_price               0
is_delayed                0
dtype: int64
order_id                       object
customer_name                  object
product_name                   object
category                       object
price                         float64
discount(%)                   float64
quantity                        int64
order_date             datetime64[ns]
region                         object
payment_method                 object
shipping_status                object
delivery_date          datetime64[ns]
return_requested               object
rating                        float64
review_text                    object
warehouse_id                   object
shipping_cost                 float64
currency                       object
delivery_delay_days           float64
customer_email                 object
total_price                   float64
is_delayed                     object
dtype: object
              price   discount(%)      quantity  \
count  20000.000000  20000.000000  20000.000000
mean    2490.944802     14.885000     10.079650
min        5.310000      0.000000      1.000000
25%     1298.262500      5.000000      3.000000
50%     2479.980000     10.000000      5.000000
75%     3687.177500     20.000000      5.000000
max     4948.900010     50.000000     50.000000
std     1415.040851     15.208496     15.206304

                          order_date                  delivery_date  \
count                          20000                          20000
mean   2023-01-26 12:16:24.959999744  2023-03-16 16:59:31.199999744
min              2022-01-01 00:00:00            2022-01-01 00:00:00
25%              2023-01-01 00:00:00            2023-01-01 00:00:00
50%              2023-01-01 00:00:00            2023-01-01 00:00:00
75%              2023-01-01 00:00:00            2023-07-04 00:00:00
max              2024-09-27 00:00:00            2024-09-27 00:00:00
std                              NaN                            NaN

             rating  shipping_cost  delivery_delay_days    total_price
count  14986.000000    20000.00000          20000.00000   20000.000000
mean       3.494061       10.65000              2.41695   25307.582406
min        1.000000        0.00000             -1.00000       6.220000
25%        2.000000       10.00000              0.00000    4002.210000
50%        4.000000       10.00000              1.00000    9737.985000
75%        5.000000       15.00000              5.00000   20772.512500
max        6.000000       25.00000             10.00000  247445.000500
std        1.709967        6.76312              3.58524   46441.383187

In [53]:
df = df.astype({
    'price': 'float64',
    'quantity': 'int64',
    'rating': 'float64'
})

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20000 entries, 0 to 19999
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   order_id             20000 non-null  object
 1   customer_name        20000 non-null  object
 2   product_name         20000 non-null  object
 3   category             20000 non-null  object
 4   price                20000 non-null  float64
 5   discount(%)          20000 non-null  float64
 6   quantity             20000 non-null  int64
 7   order_date           20000 non-null  datetime64[ns]
 8   region               20000 non-null  object
 9   payment_method       20000 non-null  object
 10  shipping_status      20000 non-null  object
 11  delivery_date        20000 non-null  datetime64[ns]
 12  return_requested     20000 non-null  object
 13  rating               14986 non-null  float64
 14  review_text          20000 non-null  object
 15  warehouse_id         20000 non-null  object
 16  shipping_cost        20000 non-null  float64
 17  currency             20000 non-null  object
 18  delivery_delay_days  20000 non-null  float64
 19  customer_email       20000 non-null  object
 20  total_price          20000 non-null  float64
 21  is_delayed           20000 non-null  object
dtypes: datetime64[ns](2), float64(6), int64(1), object(13)
memory usage: 3.5+ MB

In [54]:
!pip install psycopg2-binary sqlalchemy

Requirement already satisfied: psycopg2-binary in c:\users\nafee\appdata\local\programs\python\python313\lib\site-packages (2.9.11)
Requirement already satisfied: sqlalchemy in c:\users\nafee\appdata\local\programs\python\python313\lib\site-packages (2.0.44)
Requirement already satisfied: greenlet>=1 in c:\users\nafee\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\nafee\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (4.15.0)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [92]:
from sqlalchemy import create_engine


username = "root"
password = "root"
host  = "localhost"
port = "3306"
database = "amazon"

engine = create_engine(f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}")

table_name = "customers"
df.to_sql(table_name,engine, if_exists ="replace", index = False)
pd.read_sql("SELECT * FROM customers limit 5;", engine)

,order_id,customer_name,product_name,category,price,discount(%),quantity,order_date,region,payment_method,...,return_requested,rating,review_text,warehouse_id,shipping_cost,currency,delivery_delay_days,customer_email,total_price,is_delayed
0,ORD1000,Ali,Perfume,Books,2006.42,20.0,50.0,2022-01-28,Al Ain,Crypto,...,no,1.0,Excellent!,Unknown,25.0,USD,1.0,ali@example.com,100321.00,Yes
1,ORD1001,Sara,Teddy Bear,Toys,4670.09,10.0,50.0,2023-01-01,Al Ain,Cash On Delivery,...,no,3.0,Good,WH1,15.0,AED,0.0,ali@example.com,233504.50,No
2,ORD1002,Ali,Car Vacuum,Books,4343.70,50.0,1.0,2023-01-01,Sharjah,Crypto,...,Yes,3.0,No Review,WH1,5.0,USD,0.0,priya@abc.com,4343.70,No
3,ORD1003,Sara,Car Vacuum,Automotive,3098.42,10.0,50.0,2022-08-24,Abu Dhabi,Crypto,...,No,6.0,ok,wh-04,10.0,AED,0.0,unknown@email.com,154921.00,No
4,ORD1004,Sara,Samsung Galaxy,Clothing,614.83,50.0,3.0,2023-10-21,Dubai,Cash On Delivery,...,no,4.0,Excellent!,wh-04,15.0,EUR,1.0,unknown@email.com,1844.49,Yes